@charset "UTF-8";
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box
}

body {
	font-family: sans-serif;
	font-weight: 300;
	line-height: 1.42em;
	color: #a7a1ae;
	background-color: #fff;
	font-family: Sans-serif
}

.resultsh1 {
	font-size: 2em;
	font-weight: 200;
	line-height: 1em;
	text-align: center;
	color: #2e3956
}

.TopSearchBar {
	width: auto;
	padding: 40px
}

.TopSearchBar input {
	padding: 15px;
	outline: 0;
	width: 500px;
	border-radius: 8px;
	border: none;
	color: #2e3956;
	font-size: 15px;
	/* box-shadow: rgba(0, 0, 0, .16) 0 1px 4px; */
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	font-weight: 600;
	background-color: #f5f7fe
}

::placeholder {
	color: #2e3956;
	opacity: .8
}

.HomeSearchBig {
	width: auto;
	margin: auto;
	width: 50%;
	border-radius: 8px;
	padding: 80px 50px;
	margin-top: 10%;
	text-align: center
}

.HomeSearchBig input {
	padding: 20px;
	outline: 0;
	width: 100%;
	border-radius: 8px;
	border: none;
	color: grey;
	font-size: 15px;
	box-shadow: rgba(0, 0, 0, .16) 0 1px 4px;
	font-weight: 700
}

.homeBody {
	background-color: #f5f7fe
}

a:focus {
	outline: 0!important
}

a:hover {
	text-decoration: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0
}

.limiter {
	width: 100%;
	margin: 0 auto
}

.container-table100 {
	width: 90%;
	background: #fff;
	padding: 33px 30px;
	margin: auto
}

.wrap-table100 {
	width: 100%
}

table {
	border-spacing: 1px;
	border-collapse: collapse;
	background: #fff;
	border-radius: 6px;
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
	position: relative
}

table * {
	position: relative
}

table td,
table th {
	padding-left: 10px
}

table thead tr {
	height: 60px
}

.TitleByron {
	font-size: 45px;
	color: #293655;
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
	text-shadow: -1px 0 9px rgba(41, 54, 85, .6)
}

table tbody tr {
	height: 50px
}

table tbody tr:last-child {
	border: 0
}

table td,
table th {
	text-align: left
}

.table100-head th {
	font-size: 18px;
	color: #fff;
	line-height: 1.2;
	font-weight: unset
}

tbody tr:nth-child(even) {
	color: #5c5b5b;
	background-color: #f5f7fe
}

tbody tr {
	font-size: 15px;
	color: #6d7380;
	line-height: 1.2;
	font-weight: unset
}

tbody tr:hover {
	color: #0a50a0;
	background-color: #f5f5f5
}

.column1 {
	width: 450px;
	padding-left: 30px;
	color: #375bd2
}

.column2 {
	width: 100px
}

.column3 {
	width: 80px
}

.column4 {
	width: 80px
}

.column5 {
	width: 80px
}

.column6 {
	width: 80px
}

.column7 {
	width: 80px
}

.column8 {
	width: 60px
}

@media screen and (max-width:992px) {
	table {
		display: block
	}
	table td,
	table th,
	table tr,
	table>* {
		display: block
	}
	table thead {
		display: none
	}
	table tbody tr {
		height: auto;
		padding: 37px 0
	}
	table tbody tr td {
		padding-left: 40%!important;
		margin-bottom: 24px
	}
	table tbody tr td:last-child {
		margin-bottom: 0
	}
	table tbody tr td:before {
		font-size: 14px;
		color: #999;
		line-height: 1.2;
		font-weight: unset;
		position: absolute;
		width: 40%;
		left: 20px;
		top: 0
	}
	.column4,
	.column5,
	.column6 {
		text-align: left
	}
	.column1,
	.column2,
	.column3,
	.column4,
	.column5,
	.column6 {
		width: 100%
	}
	tbody tr {
		font-size: 14px
	}
}

@media (max-width:576px) {
	.container-table100 {
		padding-left: 9px;
		padding-right: 9px;
	}
}

.iconContainerTop {
	width: 100px;
	height: 100px;
	margin: 40px
}

.iconContainerTop img {
	width: 100%;
	border-radius: 10px;
	box-shadow: rgba(60, 64, 67, .3) 0 1px 2px 0, rgba(60, 64, 67, .15) 0 2px 6px 2px
}

.table100-head th {
	color: #6d7380
}

.column9 {
	width: 20px
}

a {
	text-decoration: none;
	color: #2e3956
}

.column9 a:visited {
	color: #a30b37
}

.column9 a:hover {
	color: #6cae75
}