<!doctype html>
<html>
<head>
	<meta charset=utf-8>
	<title>Byron [Beta]</title>
	<link rel=stylesheet href=web/assets/css/main.css>
	<link rel=icon href=web/assets/img/favicon.ico>
</head>
<body class="homeBody">
	<div class="iconContainerTop"> <img src="web/assets/img/homeIcon.png" alt=""> </div>
	<div class=HomeSearchBig>
		<h1 class=TitleByron>BYRON</h1>
<br><br>
		<form action=/search>
			<input type=text placeholder="search book by title, isbn or author.. (ex. Machine learning)" name=search autocomplete=off spellcheck=false minlength=3 required> </form>
	</div>
	<div class="footer">
		<p><a href="https://www.linkedin.com/in/naoufal-d-4005a1133/" target="_blank">Linkedin</a> | <a href="https://github.com/Neufal777/" target="_blank">Github</a> 1,073,103 Books [currently] - Byron is an aggregator of books from different websites</p>
	  </div>
</body>
</html>