<!doctype html>
<html>
<head>
	<meta charset=utf-8>
	<title>Byron [Beta]</title>
	<link rel=stylesheet href=web/assets/css/main.css>
	<link rel=icon href=web/assets/img/favicon.ico>
</head>
<body class="homeBody">
	<div class="iconContainerTop"> <img src="web/assets/img/homeIcon.png" alt=""> </div>
	<div class=HomeSearchBig>
		<h1 class=TitleByron>BYRON</h1>
<br><br>
		<form action=/search>
			<input type=text placeholder="search book by title, isbn or author.. (ex. Machine learning)" name=search autocomplete=off spellcheck=false minlength=3 required> </form>
	</div>
</body>
</html>