<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/web/assets/css/main.css">
    <title>Search:  {{ .Search}}</title>
</head>

<body>
<!--
<div>
    Total Results {{ .Results}}
    <ul>
        {{range .Articles}}
        <li>Title: {{.Title}}</li>
        <li>ID: {{.UniqueID}}</li>
        <li>Download: {{.DownloadUrl}}</li>
        <li>Isbn: {{.Isbn}}</li>
        <li>Year: {{.Year}}</li>
        <li>Publisher: {{.Publisher}}</li>
        <li>Author: {{.Author}}</li>
        <li>Extension: {{.Extension}}</li>
        <li>Page: {{.Page}}</li>
        <li>Language: {{.Language}}</li>
        <li>Size: {{.Size}}</li>
        <li>ID: {{.UniqueID}}</li>
        <li>Source: {{.SourceName}}</li>
        <br>
        <br>
        <br>
        {{end}}
    </ul>
</div>
</body>
-->
<body>
    <div id="wrapper">
     <h1>Total Results {{ .Results}}</h1>
     
     <table id="keywords" cellspacing="0" cellpadding="0">
       
        <thead>
         <tr>
           <th><span>Title</span></th>
           <th><span>Year</span></th>
           <th><span>Author</span></th>
           <th><span>Language</span></th>
           <th><span>size</span></th>
         </tr>
       </thead>
      
       <tbody>
        {{range .Articles}}
         <tr>
           
           <td class="lalign"><a href="{{.DownloadUrl}}" target="_blank">{{.Title}}</a></td>
           <td>{{.Year}}</td>
           <td>{{.Author}}</td>
           <td>{{.Language}}</td>
           <td>{{.Size}}</td>
         </tr>
         {{end}}
       </tbody>
     </table>
    </div> 
   </body>
</html>