<!doctype html>
<html>
   <head>
      <meta charset=utf-8>
      <link rel=stylesheet href=/web/assets/css/main.css>
      <link rel=icon href=web/assets/img/favicon.ico>
      <title>Byron [Beta] - {{ .Search}}</title>
      <script>
         function showDiv(){
            alert("ESPERAAAD!")
         }
      </script>
   </head>
   <body>
      <div class=TopSearchBar>
         <form action=/search>
            <input type=text placeholder="search book by title, isbn or author.." name=search autocomplete=off spellcheck=false minlength=3 required onsubmit="showDiv(); return false;">
         </form>
      </div>
      <div class=limiter>
         <div class=container-table100>
            {{if not .Articles}}
            <h1 class=resultsh1><b>0 Results</b></h1>
            {{else}}
            <h1 class=resultsh1>Results for <b>{{ .Search}}</b>: <b>{{ .Results}}</b></h1>
            <br><br>
            <div class=wrap-table100>
               <div class=table100>
                  <table>
                     <thead>
                        <tr class=table100-head>
                           <th class=column1><b>Title</b></th>
                           <th class=column2><b>Author</b></th>
                           <th class=column3><b>Isbn</b></th>
                           <th class=column5><b>Size</b></th>
                           <th class=column6><b>Year</b></th>
                           <th class=column7><b>Source</b></th>
                           <th class=column8><b>Language</b></th>
                           <th class=column9><b>⬇</b></th>
                        </tr>
                     </thead>
                     <tbody>
                        {{range .Articles}}
                        <tr>
                           {{ $length := len .Title }} {{ if gt $length 65 }}
                           <td class=column1><b>{{ slice .Title 0 65 }}...</b></td>
                           {{else}}
                           <td class=column1><b>{{.Title}}</b></td>
                           {{ end }}
                           {{ $length := len .Author }} {{ if gt $length 25 }}
                           <td class=column2>{{ slice .Author 0 25 }}...</td>
                           {{else}}
                           {{ $length := len .Author }} {{ if gt $length 0 }}
                           <td class=column2>{{.Author}}</td>
                           {{else}}
                           <td class=column2>-</td>
                           {{ end }}
                           {{ end }}
                           {{ $length := len .Isbn }} {{ if gt $length 0 }}
                           <td class=column3>{{.Isbn}}</td>
                           {{else}}
                           <td class=column3>No available</td>
                           {{ end }}
                           
                           {{ $length := len .FileSize.Ammount }} {{ if gt $length 0 }}
                           <td class=column5>{{.FileSize.Ammount}} {{.FileSize.Size}}</td>
                           {{else}}
                           <td class=column5>-</td>
                           {{ end }}

                           {{ $length := len .Year }} {{ if gt $length 0 }}
                           <td class=column6>{{.Year}}</td>
                           {{else}}
                           <td class=column6>-</td>
                           {{ end }}
                           <td class=column7>{{.SourceName}}</td>
                           {{ $length := len .Language }} {{ if gt $length 0 }}
                           <td class=column8>{{.Language}}</td>
                           {{else}}
                           <td class=column8>-</td>
                           {{ end }}
                           <td class=column9><a href={{.DownloadUrl}} target=_blank>Download</a></td>
                        </tr>
                        {{end}}
                     </tbody>
                  </table>
               </div>
            </div>
            {{end}}
         </div>
      </div>
   </body>
</html>