<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/web/assets/css/main.css">
    <title>Search:  {{ .Search}}</title>
</head>

<body>
<!--
<div>
    Total Results {{ .Results}}
    <ul>
        {{range .Articles}}
        <li>Title: {{.Title}}</li>
        <li>ID: {{.UniqueID}}</li>
        <li>Download: {{.DownloadUrl}}</li>
        <li>Isbn: {{.Isbn}}</li>
        <li>Year: {{.Year}}</li>
        <li>Publisher: {{.Publisher}}</li>
        <li>Author: {{.Author}}</li>
        <li>Extension: {{.Extension}}</li>
        <li>Page: {{.Page}}</li>
        <li>Language: {{.Language}}</li>
        <li>Size: {{.Size}}</li>
        <li>ID: {{.UniqueID}}</li>
        <li>Source: {{.SourceName}}</li>
        <br>
        <br>
        <br>
        {{end}}
    </ul>
</div>
</body>
-->

<div class="courses-container">

  <h1>Total Results {{ .Results}}</h1>
  {{range .Articles}}
	<div class="course">
		<div class="course-preview">
			<h6>{{.Language}}</h6>
			<h5>{{.Author}}</h5>
			<a>{{.Year}}<i class="fas fa-chevron-right"></i></a>
		</div>
		<div class="course-info">
			<h6>{{.SourceName}}</h6>
      <h2>{{.Title}}</h2>
			<a href={{.DownloadUrl}} target="_blank"><button class="btn">Download</button></a>
		</div>
	</div>
  {{end}}



</div>


</body>
</html>

<!-- {{range .Articles}}
<tr>
  
  <td class="lalign"><a href="{{.DownloadUrl}}" target="_blank">{{.Title}}</a></td>
  <td>{{.Year}}</td>
  <td>{{.Author}}</td>
  <td>{{.Language}}</td>
  <td>{{.Size}}</td>
</tr>
{{end}} -->